body {
    background-color: transparent;
}

body > div.container-fluid {
    background-color: rgba(38, 38, 38, 0.9);
    min-height: 100vh;
}

.form-floating {
    width: 280px!important;
}

.label {
    left: 10px!important;
    top: 14px;
}

/* .input-container {
    position: relative;
    width: 280px;
}

.label {
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3;
}

.label::before {
    position: absolute;
    content: "";
    height: 5px;
    background: #272530;
    left: 0px;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #2f2c45;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: #fff;
}

.text-input:focus {
    border: 2px solid #7e4ccb;
}

.text-input:focus + .label.filled {
    top: -10px;
    color: #7e4ccb;
    font-size: 14px;
}

.text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.5s;
}

.text-input:focus::placeholder {
    opacity: 1;
} */