* {
	font-family: 'Helvetica Neueu', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
    text-decoration: none;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

@font-face {
	font-family: "Lato-Regular";
	src: url('polices/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Righteous';
    src: url('/fonts/Righteous-Regular.ttf') format('truetype');
}

html {
	width: 100%;
	height: 100%;
}

body {
	color: black;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: #232830;
	scrollbar-width: none;
}

nav {
    background: transparent;
    /* padding: 0 15px; */
}

nav a {
    color: white;
    text-decoration: none;
}

.menu, .submenu {
    list-style-type: none;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}

.menu li.subitem a {
    padding: 15px;
}

.toggle {
    order: 1;
    font-size: 20px;
    padding: 0 15px;
}

.item.button {
    order: 2;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.item a {
    font-family: 'Righteous';
}

.active .item {
    display: block;
}

.logo {
    padding: 0 15px;
}

.logo img {
    width: 48px;
    padding: 7.5px 10px 7.5px 0;
}

.item.button {
    padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

.active {
    background: #222;
}

.active .logo {
    opacity: 0;
}

.active .item {
    display: block;
    background: #222;
}

.button.secondary {
    /* solid line between item orders */
    /* border-bottom: 1px #444 solid; */
}

.submenu {
    display: none;
}

.submenu-active .submenu {
    display: block;
}

.has-submenu > a::after {
    font-family: FontAwesome;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    color: white;
    content: "\f078";
    padding-left: 5px;
}

.subitem a {
    padding: 10px 15px;
}

.submenu-active {
    background-color: #111;
    border-radius: 3px;
}

h1 {
    margin: 10px 0 10px;
}

h3 {
    margin: 10px 0 15px;
}

body::-webkit-scrollbar {
  /* This is the magic bit for WebKit */
  display: none;
}

a:hover, a:focus {
	color: inherit;
}

@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-20px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}

.bigavatar {
	width: 300px;
    /* border-radius: 50%; */
    /* border: 5px #FF015B solid; */
	/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
	box-shadow: none;
    transform: translatey(0px);
    display: block;
    margin: auto;
    animation: float 6s ease-in-out infinite;
    overflow: hidden;
}

.toptext h1 span {
	color: #ddaedb;
    font: 700 48px Times New Roman, Times, serif;
    font-family: 'Righteous';
	font-size: 50px;
}

.toptext h3 span {
    color: white;
    font-family: 'Righteous';
    letter-spacing: 2px;
}

footer {
	bottom: 0;
	position: relative;
	background: rgba(255, 255, 255, .05);
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 100%;
}

@media screen and (max-height: 800px) , screen and (max-width: 700px) {

	.middle {
		padding: 0;
	}

	.text {
		transform: scale(1);
    }
    
    .menu {
        z-index: 1000;
        position: relative;
    }

    .active {
        background: #111;
        /*  */
    }

	.bigavatar {
		width: 300px;
	}

	.toptext h1 {
		font-size: 30px;
    }
    
    h3 {
        margin: 20px 0 20px;
    }

	.icon a i {
		font-size: 20px;
		padding: 7px;
	}

}

@media screen and (max-width: 300px) {

    .wb_button {
		width: 200px !important;
    }

    .topbuttons {
        align-items: center;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    .wb_button {
        width: 300px !important;
    }
}

@media all and (max-width: 700px) {

    .menu {
        justify-content: center;
        z-index: 1000;
        position: relative;
    }

    .active {
        background: #111;
    }

    .logo img {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }

	.middle {
		padding: 0;
	}

	.text {
		transform: scale(1.2);
	}

	.wb_button {
		width: 400px;
    }
    
    .topbuttons {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

	.bigavatar {
		width: 250px;
	}

	.toptext h3 span {
		font-size: 20px;
	}
}

@media all and (min-width: 960px) {

    .logo img {
        width: 60px;
        /* padding: 7.5px 10px 7.5px 10px; */
    }

    .bigavatar {
        width: 75%;
    }

    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
        font-size: 20px;
    }

    .item a {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .button {
        order: 2;
    }

    .menu {
        justify-content: left;
    }

    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: #111;
    }

    .toggle {
        display: none;
    }

    .submenu-active {
        border-radius: 0;
        background: transparent;
        color: white;
    }

	.middle {
		padding: 0;
	}

	.text {
		transform: scale(1.5);
	}

	.top {
		padding: 20px !important;
    }
}

.pink {
	color: #FF015B;
}

.blue {
	color: #1972F5;
}

footer span {
	color: white;
	padding: 5px;
}

.middle {
	padding: 20% 0 0;
	vertical-align: middle;
}

.wb_button {
    display: block;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    width: 198px;
    height: 42px;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 14px;
	text-align: center;
    border: 2px solid #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff none repeat left top;
    color: black;
    text-decoration: none;
    font-weight: bold;
	transition: 0.3s;
}

.wb_button:hover {
	background-color: rgb(65, 65, 65);
	color: white;
	border: 2px solid rgb(65, 65, 65);
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.wb_button span {
    display: inline-block;
    vertical-align: middle;
    line-height: 300%;
}

.toptext {
    text-align: center;
}

.topbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 10px;
}

.topbuttons div {
    padding: 5px;
}

.topbuttons div a {
    border-radius: 5px;
}

.stats img {
  display: block;
  margin: auto;
  width: 300px;
  margin: -40px auto -30px auto;
  overflow: hidden;
}

.stats {
  overflow: hidden;
}

.haut {
  margin: 300px;
  color: black;
  padding: 10px;
}

.top {
	padding: 20px;
}

.block {
	display: block;
}

.content .text{
	position: relative;
	color: #fff;
	font-weight: 700;
	font-size: 45px;
	transform: scale(2);
	padding: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.content .text:before,
.content .text:after {
	padding: 30px;
	color: white;
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 100%;
	background: #232830;
	overflow: hidden;
	top: 0;
}

.content .text:before{
	left: 3px;
	text-shadow: -2px 0 red;
	animation: glitch-1 2s linear infinite reverse;
}

.content .text:after{
	left: -3px;
	text-shadow: -2px 0 blue;
	animation: glitch-2 2s linear infinite reverse;
}

.icon {
	padding: 20px;
}

.icon a i {
	color: white;
	font-size: 30px;
	padding: 10px;
	background-color: #232830;
	border-radius: 5px;
	transition: transform 265ms ease-out;
}

.icon a i:hover {
	transform: scale(1.5);
	cursor: pointer;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.github a i:hover {
	background-color: black;
}

.discord a i:hover {
    background-color: rgb(125,148,221);
}

#discord {
    color: #fff;
    background-color: rgb(125,148,221);
    stroke: rgb(125,148,221);
    margin-right: 5px;
}

#discord-btn {
    background-color: #7289da;
    border-color: #7289da;
}

#discord:hover {
    stroke: rgb(99, 130, 230);
    background-color: rgb(99, 130, 230);
}

#discord-btn:hover {
    background-color:rgb(99, 130, 230);
    border-color: rgb(99, 130, 230);;
    transition: 265ms;
}

.twitch a i:hover {
	background-color: rgb(145,71,255);
}

.links {
	display: flex;
}

.stats {
	margin: 10px;
}

.mainblock {
    /* width: 100%; */
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mainblock .top img {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -950;
}

.loader-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ddaedb;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	border: 4px solid #Fff;
	animation: loader 2s infinite ease;
}

.loader-inner {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: #fff;
	animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
	0% {
	  transform: rotate(0deg);
	}
	
	25% {
	  transform: rotate(180deg);
	}
	
	50% {
	  transform: rotate(180deg);
	}
	
	75% {
	  transform: rotate(360deg);
	}
	
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes loader-inner {
	0% {
	  height: 0%;
	}
	
	25% {
	  height: 0%;
	}
	
	50% {
	  height: 100%;
	}
	
	75% {
	  height: 100%;
	}
	
	100% {
	  height: 0%;
	}
  }

#canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1000;
	opacity: 0.1;
	top: 0;
	left: 0;
}

.styling {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
}